.swiper-pagination {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) translate3d(0, 0, 0);
  transition: 300ms opacity;
  z-index: 10;
}
/* Bullets */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background: white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #9F0802;
  &::after {
    content: '';
    position: absolute;
    top: 5px;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: #9F0802;
    border-radius: 50%;
  }
}
.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 5%;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
  .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
    display: block;
    position: relative;
    margin: 40px;
    &:nth-child(1), &:nth-child(5) {
        left: 50%;
    }
    &:nth-child(2), &:nth-child(4) {
        left: 25%;
    }
  }
}